.header {
    width: 100%;
    height: 46px;
    position: sticky;
    top: 0;
    z-index: 998;
    background-color: #898A8C;
    padding: 0 20px;
    margin-bottom: 20px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}
