.actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: #454449a8;

}
.actionButton:hover {
    color: #000000c5;
}
.dropdownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12px;
    right: 6px;
    background-color: #273041;
    border: 1px solid #212836;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    z-index: 1000;
    min-width: 100px;
    overflow: hidden;
}
.option {
    cursor: pointer;
    width: 100%; 
    border: none;
    background-color: transparent;
    padding: 6px 8px;
    text-align: left;
    align-self: center;
    justify-self: center;
    font-size: 14px;
    color: #e3eaf5;
    font-weight: 100;
}
.option.active {
    font-weight: 800;
}
.option:hover {
    background-color: #1a202e;
    
}
.dropdownMenu li {
    border-bottom: 1px solid #00000046;
}
.dropdownMenu li:last-child {
    border-bottom: none;
}
.note {
    color: #2a2f3aa8;
}
.note:hover {
    color: #2a2f3a;
}
.weather {
    color: #2e313ca8;
}
.weather:hover {
    color: #2e313c;
}
.pomodoro {
    color: #2d3554b2
}
.pomodoro:hover {
    color: #2d3554;
}
.reposTracker {
    color: #c9d1d95e;
}
.reposTracker:hover {
    color: #c9d1d9;
}       