.note {
    position: relative;
    background-color: #977757;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); 
    min-width: 120px;
    min-height: 154px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    font-size: 24px;
    margin-bottom: 8px;
    color:#2a2f3a;
    font-weight: 600;
    background-color: transparent;
    border: none;
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
}
.text {
    font-size: 16px;
    color:#2a2f3a;
    background-color: transparent;
    border: none;  
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
}
.text:focus, .title:focus {
    outline: none;
}
.title::placeholder,
.text::placeholder,
.title,
.text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2a2f3a;
}
.title::placeholder {
    color: #2a2f3a;
}
.text::placeholder {
    color: #2a2f3a9f;
}
.content, .completedItems {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.034);
}
.content {
    background-color: #bd9a77;
    margin-top: 34px;
    min-height: 154px;
}
.hide {
    box-shadow: none;
    flex-grow: 1;
}
.showCompletedButton {
    color: #2a2f3a;
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    align-self: flex-start;
    text-align: left;
    padding: 10px 0 10px 5px;
    margin-top: auto;
}
.showCompletedButton:hover {
    text-decoration: underline;
}
