.note {
    position: relative;
    background-color: #ffecc4;
    border: 1px solid #f0d58c;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    min-width: 120px;
    min-height: 120px;
}

.title {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 18px;
    color:#454449;
    font-weight: 600;
    background-color: transparent;
    border: none;
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
}
.text {
    font-size: 16px;
    color:#454449;
    background-color: transparent;
    border: none;  
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
}
.text:focus, .title:focus {
    outline: none;
}
.title::placeholder,
.text::placeholder,
.title,
.text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title::placeholder {
    color: #454449;
}