.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100vh;
    background-color: #454449c7;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.open {
    transform: translateX(0);
    box-shadow: -7px 0 15px rgba(0, 0, 0, 0.2);
}

.title {
    position: relative;
    top: 30px;
    left: 20px;
    color: #D6E0E5;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.open .title, .open .button {
    opacity: 1;
}
.button {
    padding: 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #D6E0E5;
    cursor: pointer;
    font-weight: 100;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.button:hover {
    text-decoration: underline;
}

.button:first-of-type {
    margin-top: 50px;
}