.crossButton {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #454449a8;
    user-select: none;
}
.crossButton:hover {
    color: #000000c5;
}
.note {
    color: #2a2f3aa8;
}
.note:hover {
    color: #2a2f3a;
}
.weather {
    color: #2e313ca8;
}
.weather:hover {
    color: #2e313c;
}
.pomodoro {
    color: #2d3554b2
}
.pomodoro:hover {
    color: #2d3554;
}
.reposTracker {
    color: #c9d1d95e;
}
.reposTracker:hover {
    color: #c9d1d9;
}  