.addButton {
    color: #be966e;
    background-color: #2a2f3a;
    border: none;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    align-self: center;
    border-radius: 100%;
    width: 24px;
    height: 24px;
}
.addButton:hover {
    background-color: #333333;
    box-shadow: none;
}

