.weatherWidget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #5d7fb3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: 120px;
    min-height: 154px;
    overflow: hidden;
}
.select {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    background-color: #7399cc;
    flex-grow: 1;
    margin-top: 34px;
    padding: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
}
.weather {
    flex-grow: 1;
}