.weatherWidget {
    background-color: #5d7fb3;
    user-select: none;
}
.select {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    background-color: #7399cc;
    flex-grow: 1;
    margin-top: 34px;
    padding: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
}
.weather {
    flex-grow: 1;
}